*.DS_Store
*.[oa]
*.vscode

_KVSLocalServer/KVSLocalServer
./_KVSLocalServer/*.a
./_KVSLocalServer/*.o
./_KVSLocalServer/*.vscode
./_KVSLocalServer/*.DS_Store

_KVSAuthServer/KVSAuthServer
./_KVSAuthServer/*.a
./_KVSAuthServer/*.o
./_KVSAuthServer/*.vscode
./_KVSAuthServer/*.DS_Store

./_KVSLib/*.a
./_KVSLib/*.o
./_KVSLib/*.vscode
./_KVSLib/*.DS_Store

examples/simpleClient/client
./examples/simpleClient/*.a
./examples/simpleClient/*.o
./examples/simpleClient/*.vscode
./examples/simpleClient/*.DS_Store

examples/threadClient/client
./examples/threadClient/*.a
./examples/threadClient/*.o
./examples/threadClient/*.vscode
./examples/threadClient/*.DS_Store
