*.DS_Store
*.[oa]
*.vscode
*.dSYM

_KVSLocalServer/KVSLocalServer
_KVSAuthServer/KVSAuthServer
examples/threadMadness/client
examples/simpleClient/client
examples/threadClient/client

examples/multiClients/client

examples/fileTransfer/client1
examples/fileTransfer/client2

